body{
    background-color: #f0f4f7 !important;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    color: black !important;
    opacity: 1 !important;
}

.page-item.active .page-link {
    background-color: #e95420 !important;
    border-color: #e95420;
    color: white;
}